<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html ng-app="clearTrip">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Cleartrip by ovarunendra</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link href="stylesheets/style.css" rel="stylesheet"/>

<body text="#000000" bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"
      ng-controller="MainController as ctrl" pause-resume="">
<!-- red box -->
<div id="box" red-box=""
     style="LEFT: 205px; WIDTH: 40px; POSITION: absolute; TOP: 205px; HEIGHT: 40px; BACKGROUND-COLOR: #990000; layer-background-color: #990000">
</div>

<!-- bluebox - 0 -->
<div id="enemy0"
     style="LEFT: 270px; WIDTH: 60px; POSITION: absolute; TOP: 60px; HEIGHT: 50px; BACKGROUND-COLOR: #000099; layer-background-color: #000099">
    <enemy height="50" width="60"></enemy>
</div>

<!-- bluebox - 1 -->
<div id="enemy1"
     style="LEFT: 300px; WIDTH: 100px; POSITION: absolute; TOP: 330px; HEIGHT: 20px; BACKGROUND-COLOR: #000099; layer-background-color: #000099">
    <enemy height="20" width="100"></enemy>
</div>

<!-- bluebox - 2 -->
<div id="enemy2"
     style="LEFT: 70px; WIDTH: 30px; POSITION: absolute; TOP: 320px; HEIGHT: 60px; BACKGROUND-COLOR: #000099; layer-background-color: #000099">
    <enemy height="60" width="30"></enemy>
</div>

<!-- bluebox - 3 -->
<div id="enemy3"
     style="LEFT: 70px; WIDTH: 60px; POSITION: absolute; TOP: 70px; HEIGHT: 60px; BACKGROUND-COLOR: #000099; layer-background-color: #000099">
    <enemy height="60" width="60"></enemy>
    <tbody>
    <tr>
        <td>&nbsp;</td>
    </tr>
    </tbody>
    </table>
</div>
<table cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <!-- row 1 -->
    <tr>
        <td width="50" bgcolor="#000000" height="50" ng-repeat="col in [1,2,3,4,5,6,7,8,9] track by $index">
            <empty-table></empty-table>
        </td>
    </tr>
    <!-- row 2 to 8 -->
    <tr ng-repeat="row in [2,3,4,5,6,7,8] track by $index">
        <td width="50" bgcolor="#000000" height="50">
            <empty-table></empty-table>
        </td>
        <td width="50" height="50" ng-repeat="col in [2,3,4,5,6,7,8] track by $index">
            <empty-table></empty-table>
        </td>
        <td width="50" bgcolor="#000000" height="50">
            <empty-table></empty-table>
        </td>
    </tr>
    <!-- row 9 -->
    <tr>
        <td width="50" bgcolor="#000000" height="50" ng-repeat="col in [1,2,3,4,5,6,7,8,9] track by $index">
            <empty-table></empty-table>
        </td>
    </tr>
    </tbody>
</table>
<div>Game Speed:</div>
<br>

<div>
    <input ng-model="ctrl.speedValue" type="text" slider options="ctrl.speedOptions"/>
</div>
<best-score></best-score>
<br>
<br>
Player instruction:
<br>Click and hold the red square.
<br>Now, move it so that you neither touch the walls nor get hit by any of the blue blocks
<br>If you make it to 18 seconds, you are doing brilliantly!
<br>
<footer class="site-footer">
      <a href="https://github.com/ovarunendra/cleartrip">View on GitHub</a>
      <a href="https://github.com/ovarunendra/cleartrip/zipball/master">Download .zip</a>
      <a href="https://github.com/ovarunendra/cleartrip/tarball/master">Download .tar.gz</a>
        <span class="site-footer-owner"><a href="https://github.com/ovarunendra/cleartrip">Cleartrip</a> is maintained by <a href="https://github.com/ovarunendra">ovarunendra</a>.</span>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script type="text/javascript" src="scripts/angular-awesome-slider.min.js"></script>
<script type="text/javascript"
        src="scripts/magic.js"></script>
</body>
</html>